* {
    min-width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    padding: 3rem;
    background-color: blanchedalmond;
    text-align: center;
}

h1{
    color:red;
}

p{
    color:black
}